
.logo{
    height: 6em;
}
li.logo {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.top-nav-main{
    height: 10em;
}
a.page-title{
    font-size: 2em;
    font-weight: lighter;
}
a.page-title-main{
    font-size: 4em;
    vertical-align: text-top;
}
.stepDone{
    text-decoration: line-through;
}